.short-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.header-table {
	background-color: gray;
	color: #fff;
}

.header-table:hover {
	background-color: gray !important;
	color: #fff !important;
}

.header-table th {
	text-align: center;
}

.body-table td {
	text-align: center;
}

.text-left {
	text-align: left !important;
}

.span-red {
	color: #a94442;
}

.required-text-box {
	padding-top: 4px;
}

.button-list {
	margin-top: 40px;
	margin-bottom: 10px;
	padding-top: 20px
}